body{
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
}

.product-png {
    position: absolute;
    z-index: 100;
    width: 650px;
    overflow: hidden;
    top: 333px;
    left: 18%;
}
.myCanvas {
    position: absolute;
}