body {
	margin: 0;
	overflow: hidden;
}

.container__canvas {
	display: none;
	position: relative;
}

.container__button--try {
    width: 160px;
    height: 32px;
    text-align: center;
    border-radius: 2px;
    background-color: #bed755;
    position: absolute;
    top: 68%;
    color: #534343;
    line-height: 27px;
    left: 60%;
    font-family: arial;
}

.container__image {
    position: absolute;
    z-index: 100;
    width: 700px;
    overflow: hidden;
    top: 287px;
    left: 3%;
}
#myCanvas {
	position: absolute;
}

.container__background{
    width: 72%;
    position: relative;
    margin-left: 11%;
    display: block;
}